@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply m-0 p-0 box-border;
}

/* hide arrow on input field type number*/
@layer base {
	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button,
	input[type='number'] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}
}

body {
	@apply font-texts;
}

.container-size {
	@apply w-[95%] md:w-[90%] mx-auto;
}
